<%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form") do |form| %> 
  <%= form.text_field :keyword, placeholder: "質問相談", class: "search-input" %> 
  <%= form.submit "検索", class: "search-btn" %> 
<% end %> 

<div id="search-results">
  <% if @questions.present? %>
  <h2>検索結果:</h2>
  <ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.symptoms, question_path(question) %></li>
    <% end %>
  </ul>
<% else %>
  <p>該当する質問が見つかりませんでした。</p>
<% end %>
</div>