<% @pets.each do |pet| %>
  <div class="content_post" style="background-image: url(<%= pet.image %>);">
    <p><%= pet.pets_name %></p> 
    <span class="kind">
      <%= pet.kind %> 
    </span>
    <span class="sex">
      <%= pet.sex %> 
    </span>
  </div>
<% end %>