<div class="diary">
  <div class="upper-diary">
    <div class="diary-user">
      <%= diary.user.name %>
    </div>
  </div>
  <div class="lower-diary">
    <div class="diary-content">
      <p><%= diary.content %></p>
    </div>
    <%= image_tag diary.image.variant(resize: '500x500'), class: 'diary-image' if diary.image.attached? %>
  </div>